.container {
  display: flex;
  flex-direction: column;
}

.film-item{
  text-align: center;
  margin: 20px 50px;
}

.describe{
  text-align: left;
  display: flex;
  width: 80%;
}

.text{
  padding-left: 20px;
}

.photo {
  width: 210px;
  height: 290px;
}
