.user-form{
    position: fixed;
    width: 80%;
    height: 350px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 20px;
    border-radius:5px;
    box-shadow:
     0px 2px 4px -1px rgba(0,0,0,0.2), 
    0px 4px 5px 0px rgba(0,0,0,0.14), 
    0px 1px 10px 1px rgba(0,0,0,0.1) inset;
}

.user-form-title{
    text-align: center;
    font-size: 26px;
    margin: 0;
}

.inp-block{
    width: 50%;
    display: inline-block;
    margin-bottom: 30px;
    
}


.user-form-label{
    color:#a0a4aa;
}

.user-form-input{
    width: 90%;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: #fff !important;
    outline: none;
}

.user-form-input:focus{
    border-bottom: 1px solid #6c96d8;
}

.user-form-btn{
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #6c96d8;
    outline:none;
    text-transform:uppercase;
    font-size: 18px;
    transition: all 0.3s ease;
}

.user-form-btn:hover{
    background: #6c96d8;
    color:#fff;
}

.user-form-error{
    margin: 0;
    color:#e01c18;
}

.user-form-link{
    text-decoration:none;
}