.search-block{
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 14px;
}

.search-inpt{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-right: 15px;
  width: 200px;
}

.search-btn{
  padding: 10px 20px;
  background:#f4e842;
  border: none;
  outline: none;
  border-radius: 5px;
}

.search-btn:hover{
  background: #f4c242;
}
